* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1185px;
  margin: auto;
}

.btn {
  text-decoration: none;
  border-radius: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 10px 18px;
}

.customBtn {
  background: linear-gradient(271.07deg, #007dff -7.77%, #fdbe00 86.53%);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  color: #004377;
  position: relative;
  text-transform: uppercase;
}

h2 span {
  color: #fdbe00;
}

h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 112px;
  height: 2px;
  margin-top: 10px;
  background: #007dff;
}

/* Top Bar */

.topBar {
  width: 100%;
  min-height: 70px;
  background: #020e28;
  padding-top: 27px;
}

.topBar img {
  margin: auto;
}

.topBar p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.08px;
  color: #e1e1e1;
  margin: auto;
}

.topBarContentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  width: 100%;
}

.topBarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.topBarContentBox .bar {
  width: 1px;
  height: 19px;
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
}

/* !Top Bar */

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
  position: relative;
}

.navbar a {
  text-decoration: none;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar ul li {
  position: relative;
}

.navbar .nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.08px;
  color: #020e28;
  text-decoration: none;
}

.navbar .nav-link:hover {
  color: #fdbe00;
}

.navbar ul li .active {
  color: #fdbe00;
  position: relative;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fdbe00;
  display: none;
  margin-top: 10px;
}

.navbar ul li a.active::after,
.navbar .nav-link:hover::after {
  display: block;
}

.navbar .customBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hamburger {
  display: none;
}

/* !Navbar */

/* Hero */

.hero {
  background: url(../img/heroBg.png) no-repeat;
  background-size: cover;
  min-height: 720.59px;
}

.heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.heroContent .left {
  max-width: 517px;
}

.heroContent h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #fff;
  margin-bottom: 15px;
}

.heroContent p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
  color: #fcfeff;
}

.hero .item {
  height: 100%;
}

.heroContent .right {
  width: 100%;
  overflow-x: hidden;
}

/* !Hero */

/* Offers */

.offers {
  margin-top: 102px;
}

.offersContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(139, 139, 139, 0.2);
  padding: 25px;
}

.offersBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 30px;
}

.offersBox img {
  width: 70px;
  height: 70px;
}

.offersBox h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #101010;
}

.offersBox p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  max-width: 340px;
}

/* !Offers */

/* Anncar */

.anncar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
  margin-top: 87px;
}

.anncar p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  margin-top: 31px;
  max-width: 526.37px;
}

/* !Anncar */

/* Products */

.products {
  background: url(../img/toolsBg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 731.41px;
  margin-top: 100px;
  padding: 45px 0;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.productsBox {
  margin-bottom: 57px;
  height: auto;
}

.productsBox3 {
  padding-top: 25px;
}

.productsBox h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  position: relative;
  margin: 16px 0 22px;
  text-transform: uppercase;
}

.productsBox h3 span {
  color: #fdbe00;
}

.productsBox h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 88px;
  height: 2px;
  margin-top: 10px;
  background: #007dff;
}

.productsBox p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 466.25px;
}

.productsBox p a {
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  border: none;
}

/* !Products */

/* Brand */

.brand {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand h2 {
  margin-bottom: 50px;
}

.brand h2::after {
  width: 173px;
}

.brandContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
}

.brandContentBox p {
  max-width: 224px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #101010;
}

.brandContentBox h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #101010;
  margin-bottom: 10px;
}

/* !Brand */

/* Request */

.request {
  background: url(../img/requestBg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 65px;
  min-height: 544px;
  padding-top: 84px;
  margin-bottom: 0;
}

.request .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-left: 392px;
}

.requestImg {
  position: absolute;
  top: 0;
  left: 0;
}

.requestBox {
  max-width: 760px;
  padding: 51px 42px;
  background: #141d32;
  position: relative;
  z-index: 10;
}

.requestBox h2 {
  margin-bottom: 21px;
  color: #007dff;
}

.requestBox h2::after {
  display: none;
}

.requestBox p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 21px;
}

.requestBox .btn {
  background: #007dff;
  border-radius: 50px;
}

/* !Request */

/* Footer */

footer {
  background: #020e28;
  padding-top: 46px;
  margin-top: -1px;
}

.footerLogo {
  text-align: center;
  text-decoration: none;
  margin-bottom: 55px;
}

.footerGird {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.social {
  display: flex;
  justify-content: start;
  gap: 13px;
}

.footerGird h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 21px;
}

.footerGird p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

footer ul {
  list-style-type: none;
}

.info li {
  display: flex;
  align-items: start;
  gap: 10px;
}

footer ul li,
footer ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 17px;
}

.copyRight {
  width: 100%;
  background: #000818;
  padding: 13px;
  text-align: center;
  margin-top: 21px;
}

.copyRight h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

/* !Footer */

/* Tab Screen */

@media screen and (max-width: 1024px) {
  .hero {
    min-height: 100%;
  }

  .offers {
    padding: 15px;
  }

  .offersContent {
    padding: 20px;
  }

  .anncar {
    gap: 60px;
  }

  .anncar p {
    max-width: 480px;
  }

  .products {
    padding: 25px;
    padding-top: 57px;
  }

  .brand {
    padding: 15px;
  }

  .brandContent {
    gap: 25px;
  }

  .request .container {
    padding-left: 165px;
  }

  .requestImg {
    left: 25px;
  }

  footer {
    padding: 15px;
  }

  .footerGird {
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 15px;
  }

  .navbar ul {
    align-items: start !important;
  }

  .nav-links {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: white;
    display: none;
    flex-direction: column;
    align-items: start !important;
    justify-content: start;
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 1rem;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .navbar .customBtn {
    display: none;
  }

  .heroContent h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .heroContent p {
    font-size: 22px;
    line-height: 27px;
  }

  .offersBox div {
    gap: 20px;
  }

  .offersBox h4 {
    font-size: 21px;
    line-height: 1;
  }

  .offersBox p {
    font-size: 12px;
    line-height: 1.6;
  }

  .offersBox img {
    width: 50px;
    height: 50px;
  }

  .anncar {
    gap: 25px;
    padding: 15px;
  }

  .anncar img {
    max-width: 40%;
  }

  .products {
    padding: 15px;
    padding-top: 57px;
  }

  .productGrid {
    gap: 10px;
  }

  .productsBox h3 {
    font-size: 24px;
    line-height: 24px;
  }

  .productsBox p {
    font-size: 14px;
  }

  .brand {
    display: block;
  }

  .brand .left {
    margin-bottom: 20px;
  }

  .brandContent {
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
  }

  .brand .right {
    text-align: center;
  }

  .requestImg {
    left: 0;
  }

  .request .container {
    padding-left: 0;
  }

  .requestBox {
    max-width: 700px;
  }

  .request .container {
    padding-top: 40px;
  }

  .footerGird {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* !Tab Screen */

/* Mobile Screen */

@media screen and (max-width: 760px) {
  body {
    min-width: 412px;
  }

  .topBar {
    padding: 15px;
    padding-top: 27px !important;
  }

  .topBarContentBox {
    display: block;
  }

  .topBarContent {
    justify-content: start;
    margin-bottom: 10px;
  }

  .topBar img,
  .topBar p {
    margin: 0;
  }

  .topBarContentBox .bar {
    display: none;
  }

  .heroContent {
    display: block;
  }

  .heroContent .left {
    margin-bottom: 20px;
  }

  .offersContent {
    flex-direction: column;
    gap: 20px;
  }

  .anncar {
    flex-direction: column;
    gap: 35px;
  }

  .anncar img {
    max-width: 100%;
  }

  .productGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .productsBox {
    margin-bottom: 15px;
  }

  .productsBox3 {
    padding-top: 0;
  }

  .brandContent {
    grid-template-columns: repeat(2, 1fr);
    gap: 34px;
  }

  .brandContentBox p {
    max-width: 100%;
  }

  .requestBox {
    padding: 25px;
    padding-bottom: 35px;
  }

  .requestImg {
    left: 0;
    height: 110%;
  }

  .footerGird {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* !Mobile Screen */
